<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso</title>
</head>
<body>

    
    <!-- En bloque -->
    <h1>Título</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quibusdam vero deleniti, sint expedita totam repellat quisquam veniam nesciunt magni fugit neque illo temporibus aperiam, non quo ipsum, beatae molestiae!</p>

    <!-- En línea -->
    <span>Hola</span>

    <!-- Listas -->
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Inicio</a></li>
        <li><a href="">Inicio</a></li>
        <li><a href="">Inicio</a></li>
        <li><a href="">Inicio</a></li>
    </ul>

    <a href="../index.html">Regresar a Inicio</a>
</body>
</html>